

@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');

.main-chi-tiet-film {
    
}

.main-chi-tiet-film .bg1-chi-tiet-phim {
    padding-top: 90px;
}


.main-chi-tiet-film .bg1-chi-tiet-phim {
    background: black;
}

.main-chi-tiet-film .bg1-chi-tiet-phim .body-text {
    box-sizing: border-box;
    
}

.main-chi-tiet-film .bg1-chi-tiet-phim .body-text .body-text-chi-tiet-phim {
    display: flex;
    justify-content: center;
    align-items:center;
    min-width: 100vh;
    
}

.main-chi-tiet-film .bg1-chi-tiet-phim .body-text .body-text-chi-tiet-phim h1{
    margin-top: 10%;
    margin-left: -5%;
    position: relative;
    color: #252839;
    -webkit-text-stroke: 0.5vw #383d52;
    /* text-transform: uppercase; */
    font-family: 'Train One', cursive;
}

.main-chi-tiet-film .bg1-chi-tiet-phim .body-text .body-text-chi-tiet-phim h1 {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 10%;
    width: 100%;
    height: 100%;
    color: wheat;
    -webkit-text-stroke: 0vw #383d52;
    /* border-right: 2px solid #01fe87; */
    overflow: hidden;
    animation: animate 6s linear infinite;
    font-family: 'Train One', cursive;

}

.main-chi-tiet-film .mo-ta-chi-tiet-phim {
    margin-top: 35%;
    margin-left: 20%;
    color: wheat;
    font-family: 'Train One', cursive;
}
.main-chi-tiet-film i {
    font-size: 30px;
}

@keyframes animate {
    0%,10%,100%{
        width: 0;
    }
    70%,90% {
        width: 100%;
    }
}

.main-chi-tiet-film .bg2-main-chi-tiet-phim .bg2-video  {
    position: relative;
}

.main-chi-tiet-film .bg2-main-chi-tiet-phim .bg2-video .quan-ly-rap {
    position:absolute;
    top: 0;
    left: 0;
    
}

.main-chi-tiet-film .bg2-main-chi-tiet-phim .selectAction select {
    padding: 10px 20px;
    /* margin: 0px 50px; */
    background: orange;
    color: black;
    font-weight: 800;
}

.main-chi-tiet-film .bg2-main-chi-tiet-phim .selectAction {}

.main-chi-tiet-film .bg2-main-chi-tiet-phim .quan-ly-rap .header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-left: 20%;
    margin-bottom: 10%;
}

.main-chi-tiet-film .bg2-main-chi-tiet-phim .quan-ly-rap .thong-tin-dat-ve {
    margin-top: 5%;
    color:wheat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    
}

.main-chi-tiet-film .bg2-main-chi-tiet-phim .quan-ly-rap .thong-tin-dat-ve .col {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:30px 50px;
    background: rgba(0, 0, 0, 0.503);
    border: 1px solid wheat;
    transition: all 0.5s;
}

.main-chi-tiet-film .bg2-main-chi-tiet-phim .quan-ly-rap .thong-tin-dat-ve .col i { 
    padding:10px 30px;

}

.main-chi-tiet-film .bg2-main-chi-tiet-phim .quan-ly-rap .thong-tin-dat-ve .col:hover {
    background: rgba(245, 222, 179, 0.496);
    color: black;
}