.quan-ly-he-thong-main {
    padding-top: 120px;
    background-color: #03080a;
}

.quan-ly-he-thong-main .row .col-3 {
    background-color: #03080a;
}

.quan-ly-he-thong-main .link {
    text-decoration: none;
    color: wheat;
    /* padding:30px; */
}