.main-quan-ly-user{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #03080a;
    padding-top: 0px;
}

.body-quan-ly-user {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-quan-ly-user .quan-ly-user-container {
    width: 80%;
    padding: 20px;
}

.main-quan-ly-user .quan-ly-user-container h2 {
    width: 100%;
    color: #45f3ff;
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
}

.main-quan-ly-user .quan-ly-user-container .row100 {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(autofit,minmax(300px,1fr));

}

.main-quan-ly-user .quan-ly-user-container .row100 .col {
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 10px;
    transition: 0.5s;
}

.main-quan-ly-user .quan-ly-user-container .row100 .col .inputBox {
    position: relative;
    width: 100%;
    height: 40px;
    color:#45f3ff;
}

.main-quan-ly-user .quan-ly-user-container .row100 .inputBox input {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 10px;
    z-index: 1;
    color: #000;
}

.main-quan-ly-user .quan-ly-user-container .row100 .col .inputBox .text {
    position:absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}

.main-quan-ly-user .quan-ly-user-container .row100 .inputBox input:focus + .text ,
.main-quan-ly-user .quan-ly-user-container .row100 .inputBox input:valid + .text {
    top: -35px;
    left: -10px;
   
}

.main-quan-ly-user .quan-ly-user-container .row100 .inputBox .line {
    position:absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #45f3ff;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
}

.main-quan-ly-user .quan-ly-user-container .row100 .inputBox input:focus ~ .line{
    height: 100%;

}
.main-quan-ly-user .submit button {
    background: #45f3ff;
    margin-top: 5%;
    font-weight: 800;
}

.thong-tin-nguoi-dung {
    margin-top: 50px;
}