.main-carousel1 .video-background-carousel1 video {
    position: relative;

}


.main-carousel1 .body-carousel1 {
    position: absolute;
    top: 10%;
    left:6%;
}

.main-carousel1 .sub-film h6 {
    font-weight: 800;
}

.main-carousel1 .img-film img {
    position: relative;
}

.main-carousel1 .sub-film {
    background: rgba(0, 0, 0, 0.544);
    /* padding: 20px 5px; */
    position: absolute;
    top:0%;
    /* width: 0.1%; */
    /* height: 240px; */
    /* left:0; */
    /* padding-right:60px; */
    padding: 175px 0px;
    width: 0px;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    height:30%;
    border-radius:  0 60px 0px 60px;
    /* display: none; */
    opacity: 0;
    visibility: hidden;
    transition: 0.9s;
}


.main-carousel1 .img-film:hover .sub-film {
    /* visibility:initial;
    opa */
    opacity: 1;
    visibility: inherit;
    width: 250px;
}

.main-carousel1 .sub-film .dat-ve {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    background-color: rgba(255, 0, 0, 0.428);
    color: wheat;
    transition: 0.5s;
}

.main-carousel1 .sub-film .dat-ve:hover {
    color: red;
    background: rgba(245, 222, 179, 0.449);
}

.main-carousel1 .responsiveTemp2 {
    display: none;
}
.main-carousel1 .responsiveTemp2 img {
    width: 100px;
    height: 150px;
}

.main-carousel1 .responsiveTemp1 .container img {
    width: 250px;
    height: 350px;
    border-radius:  0 60px 0px 60px;
    
}

@media (max-width: 1199px) {
    .main-carousel1 .responsiveTemp1 .container img {
        width: 150px;
        height: 200px;
        
    }

    .main-carousel1 .sub-film { 
        width: 0px;
        height: 4%;
        padding: 100px 0px;
        border-radius:  0 60px 0px 60px;
    }

    .main-carousel1 .responsiveTemp1 .img-film:hover .sub-film {
        width: 150px;
        height: 200px;
        border-radius: 0 60px 0 60px;
    }
}

@media (max-width:768px) {
    .main-carousel1 .responsiveTemp1 {
        display: none;
    }

    .main-carousel1 .responsiveTemp2 {
        display: block;
    }

    .main-carousel1  .responsiveTemp2 .container img { 
        width: 100px;
        height: 150px;
        border-radius: 0 30px 0 30px;   
    }

    .main-carousel1 .responsiveTemp2 .img-film:hover .sub-film {
        width: 100px;
        height: 150px;
        padding: 40px 0;
        border-radius: 0 30px 0 30px;
    }

   

    .main-carousel1 .responsiveTemp2 .sub-film h6 {
        font-size: 12px;
    }

    .main-carousel1 .responsiveTemp2 .sub-film p {
        font-size: 12px;
    }

    .main-carousel1 .sub-film .dat-ve {
        width: 40px;
        height: 40px;
        font-size: 10px;
    }
    
}