.footer-main {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    height: 30vh;
    align-items: center;
    justify-content: center;
    background: #262626;
    text-align: center;
}

.footer-main ul {
    display: flex;
}

.footer-main ul li {
    position: relative;
    display: block;
    color: #666;
    font-size: 30px;
    height: 60px;
    width: 60px;
    background: #171515;
    line-height: 60px;
    border-radius: 50%;
    margin: 0 15px;
    cursor: pointer;
    transition: 0.5s;
}

.footer-main ul li::before {
    position:absolute;
    content: '';
    top: 0;
    left: 0;
    /* background: red; */
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: 0;
    transform: scale(0.9);
    transition: 0.5s;
}

.footer-main ul li:hover:before {
    filter: blur(3px);
    transform: scale(1.2);
    /* box-shadow: 0 0 15px #d34400; */
}

.footer-main ul .three:hover {
    color: #ffa502;
    box-shadow: 0 0 15px #d34400;
    text-shadow: 0 0 15px #d34400;
}

.footer-main ul .one:hover {
    color: #2d5ab3;
    box-shadow: 0 0 15px #557dcc;
    text-shadow: 0 0 15px #2d5ab3;
}

.footer-main ul .two:hover {
    color: #12266f;
    box-shadow: 0 0 15px #557dcc;
    text-shadow: 0 0 15px #2d5ab3;
}

.footer-main ul .four:hover {
    color: #ee0909;
    box-shadow: 0 0 15px rgb(224, 89, 89);
    text-shadow: 0 0 15px rgb(224, 89, 89);
}