.dat-ve-main {
    padding-top: 90px;
}

.dat-ve-main .ghe {
    width: 35px;
    height: 35px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    color: black;
    background-color: rgba(0, 0, 0, 0.557);
    cursor: pointer;
}


.dat-ve-main .gheVip {
    width: 35px;
    height: 35px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    color: black;
    background-color: rgba(220, 102, 24, 0.557);
}

.dat-ve-main .gheDaDat {
    cursor: no-drop !important;
    background-color: rgba(32, 32, 32, 0);
}

.dat-ve-main .gheDangDat {
    background-color: rgba(0, 128, 0, 0.605);
}